<h5> Tabuada </h5>
<div>
  <label>Digite um número:</label>
  <input type="number" [(ngModel)]="numero" (keydown.enter)="gerarTabuada()" />
  <button (click)="gerarTabuada()">Gerar tabuada</button>
</div>
<br />
<div *ngIf="tabuada">
  <table>
    <thead>
      <tr>
        <th>Operação</th>
        <th>Resultado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of tabuada">
        <td>{{item.operacao}}</td>
        <td>{{item.resultado}}</td>
      </tr>
    </tbody>
  </table>
</div>
